@charset "UTF-8";

@font-face {
    font-family: 'db_helvethaica';
    src: url('db-helvethaica-x-v3.2_3-webfont.eot');
    src: url('db-helvethaica-x-v3.2_3-webfont.eot?#iefix') format('embedded-opentype'),
         url('db-helvethaica-x-v3.2_3-webfont.woff2') format('woff2'),
         url('db-helvethaica-x-v3.2_3-webfont.woff') format('woff'),
         url('db-helvethaica-x-v3.2_3-webfont.ttf') format('truetype'),
         url('db-helvethaica-x-v3.2_3-webfont.svg#db_helvethaica') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'optimusprincepsregular';
    src: url('optimusprinceps-webfont.eot');
    src: url('optimusprinceps-webfont.eot?#iefix') format('embedded-opentype'),
         url('optimusprinceps-webfont.woff2') format('woff2'),
         url('optimusprinceps-webfont.woff') format('woff'),
         url('optimusprinceps-webfont.ttf') format('truetype'),
         url('optimusprinceps-webfont.svg#optimusprincepsregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
div#loadPage{  
    position:fixed;  
    margin:0 auto;
	margin-top:-20px;
    width:100%;  
    height:100%;  
    color:#000;
	background:url(../img/template/img-loading.png) no-repeat center center;
    background-color:#000;    
    z-index:1000;  
    text-align:center;  
	opacity:0.7;
	vertical-align:middle;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	display:none;
	z-index:999999;

} 

.popup{  
    position:fixed;
    margin:0 auto;   
	margin-top:-20px;
    width:100%;  
    height:100%;  
    color:#000;
    background:url(../img/bg_popup.png) repeat;    
    z-index:9999;  
    text-align:center;  
	/*opacity:0.7;*/
	vertical-align:middle;
	/*filter:alpha(opacity=70);*/ /* For IE8 and earlier */
	display:none;
}
.popup_box{
	position:absolute;
	margin:0 auto;
	background:url(../img/template/bg-popup.png) no-repeat;
	width:620px; 
	height:336px; overflow:auto;
	text-align:left;
	margin-top:15%;
	top:0; bottom:0;
	left:0; right:0;
	
	border:0px #666 solid;
}


/* CSS Document */
._left{
	float:left;
}
._clear{
	clear:both;
}
body{
	margin:0; padding:0;
	font-family: sans-serif;
	font-size:14px;
	background:url(../img/template/bg.jpg) no-repeat bottom center;
	background-color:#4182c4;
}


._left{
	float:left;
}
._right{
	float:right;
}
._clear{
	clear:both;
}

.tp{
	width:100%;
	
}
.tp_width{
	margin:0 auto;
	width:1000px;
	border:0px #333 solid;
	position:relative;
}
.tp_nav_bg{
	background-color:#FFF;
	height:70px;
	margin:20px 0px 0px 0px;	
}
.logo{
	position:absolute;
    margin: 0 auto;
	margin:-20px 0px 0px 300px;
}


.nav_pic{
	background:url(../img/template/img-nav.png) no-repeat;
	height:30px;
	border:0px #060 solid;
	text-indent:-9999px;
	float:left;
}
.tp_menu{
	position:absolute;
	margin-top:20px;
	border:0px #060 solid;
	width:100%; height:50px;
}
.tp_menu .nav1{
	width:65px;
	background-position:-5px 0px;
}
.tp_menu .nav2{
	margin-left:15px;
	width:200px;
	background-position:-92px 0px;
}
.tp_menu .nav3{
	top:0px;
	margin-left:440px;
	width:115px;
	background-position:-763px 0px;
}
.tp_menu .nav4{
	margin-left:60px;
	width:80px;
	background-position:-933px 0px;
}


.nav_pic:hover ,.nav_pic-active{
	background:url(../img/template/img-nav-active1.png) no-repeat;
	height:30px;
	border:0px #060 solid;
	text-indent:-9999px;
	float:left;
}
.tp_menu{
	position:absolute;
	margin-top:20px;
	border:0px #060 solid;
	width:100%; height:50px;
}
.tp_menu .nav1:hover ,.tp_menu .nav1-active{
	width:65px;
	background-position:-5px 0px;
}
.tp_menu .nav2:hover ,.tp_menu .nav2-active{
	margin-left:15px;
	width:200px;
	background-position:-92px 0px;
}
.tp_menu .nav3:hover ,.tp_menu .nav3-active{
	top:0px;
	margin-left:440px;
	width:115px;
	background-position:-763px 0px;
}
.tp_menu .nav4:hover ,.tp_menu .nav4-active{
	margin-left:60px;
	width:80px;
	background-position:-933px 0px;
}
	
	
.tp_footer_bg{
	background-color:#3f73ad;
	height:65px;
	margin:0px 0px 0px 0px;	
}


.copyright{
	float:left;
	font-family:"db_helvethaica";
	font-size:16px; line-height:16px;
	color:#ffffff;
	margin-top:25px;
}
.footer_logo{
	float:right;
	margin:5px 0px 0px 0px;
}


/* HOME */
.home_bloger{
	width:100%; height:auto; border:0px #999 solid;
	padding-top:80px; padding-bottom:40px;
	
	display: flex;
  	flex-flow:wrap;
  	justify-content: space-around;
	
  
}
.home_bloger .box_content{
	width:196px; height:295px; overflow:hidden;
	border:0px #FFF solid;
	background:url(../img/template/img-blog.png) no-repeat;
	background-position:-3px -4px;
}
.home_bloger .box_content2{
	width:196px; height:295px; overflow:hidden;
	border:0px #FFF solid;
	background:url(../img/template/img-blog.png) no-repeat;
	background-position:-204px -4px;
}
.home_bloger .box_content3{
	width:196px; height:295px; overflow:hidden;
	border:0px #FFF solid;
	background:url(../img/template/img-blog.png) no-repeat;
	background-position:-407px -4px;
}
.home_bloger .box_content4{
	width:196px; height:295px; overflow:hidden;
	border:0px #FFF solid;
	background:url(../img/template/img-blog.png) no-repeat;
	background-position:-609px -4px;
}
.home_bloger .box_content5{
	width:196px; height:295px; overflow:hidden;
	border:0px #FFF solid;
	background:url(../img/template/img-blog.png) no-repeat;
	background-position:-811px -4px;
}

.home_bloger .box_inner{
	width:196px; height:295px;
	border:0px #FFF solid;
	background:url(../img/template/img-blog-over.png) no-repeat;
	background-position:-3px -4px;
	margin-top:295px;
	position:relative;
}
.home_bloger .box_inner2{
	width:196px; height:295px;
	border:0px #FFF solid;
	background:url(../img/template/img-blog-over.png) no-repeat;
	background-position:-204px -4px;
	margin-top:295px;
	position:relative;
}
.home_bloger .box_inner3{
	width:196px; height:295px;
	border:0px #FFF solid;
	background:url(../img/template/img-blog-over.png) no-repeat;
	background-position:-407px -4px;
	margin-top:295px;
	position:relative;
}
.home_bloger .box_inner4{
	width:196px; height:295px;
	border:0px #FFF solid;
	background:url(../img/template/img-blog-over.png) no-repeat;
	background-position:-609px -4px;
	margin-top:295px;
	position:relative;
}
.home_bloger .box_inner5{
	width:196px; height:295px;
	border:0px #FFF solid;
	background:url(../img/template/img-blog-over.png) no-repeat;
	background-position:-811px -4px;
	margin-top:295px;
	position:relative;
}

.home_bloger .no{
	font-family:"optimusprincepsregular";
	font-size:12px; line-height:12px;
	color:#333;
	position:absolute;
	margin-top:35px;
	margin-left:165px;

}
.home_bloger .title{
	font-family:"optimusprincepsregular";
	font-size:24px; line-height:24px;
	color:#333;
	
	padding:60px 0px 0px 0px;
	text-align:center;
}
.home_bloger .content{
	font-family:"db_helvethaica";
	font-size:20px; line-height:20px;
	color:#333;
	border:0px #999 solid;
	height:100px; overflow:hidden;
	padding:30px 15px 0px 15px;
	text-align:left;
}
.home_bloger .bnt{
	padding:20px 0px 0px 0px;
	text-align:center;
}


.home_content{
	padding:0px 0px 20px 0px;
}

/* HOME */


/* VOTE */
.vote_box{
	width:100%; height:auto; border:0px #999 solid;
	padding-top:80px; padding-bottom:40px;
}
.vote_border{
	display: flex;
  	flex-flow:wrap;
  	justify-content: space-around;
	
	padding-top:20px;
}
.vote_border .name{
	font-family:"optimusprincepsregular";
	font-size:22px; line-height:22px;
	color:#333;
	
	margin-top:230px;
	margin-left:95px;
}
.vote_border .content{
	font-family:"db_helvethaica";
	font-size:18px; line-height:18px;
	color:#FFF;
	margin-top:30px;
	margin-left:38px;
	height:60px; overflow:hidden;
	border:0px #999 solid;
}
.vote_border .vote_box_score{
	border:0px #999 solid;
	width:225px; height:40px;
	margin-top:12px;
	margin-left:38px;
	padding-top:2px;
}

.txt_score{
	width:70px; height:40px;
	border:0px #999 solid;
	margin-left:50px;
	text-align:center;
	
	font-family:"db_helvethaica";
	font-size:36px; line-height:36px;
	color:#FFF;
}
.bnt_vote{
	width:90px; height:40px;
	border:0px #999 solid;
	margin-left:10px;
	cursor:pointer;
	
	font-family:"db_helvethaica";
	font-size:36px; line-height:36px;
	text-align:center;
}
.bnt_clip{
	width:200px; height:40px;
	border:0px #999 solid;
	margin-top:10px;
	margin-left:50px;
	cursor:pointer;
	
	font-family:"db_helvethaica";
	font-size:36px; line-height:36px;
	text-align:center;
}
.bnt_clip:hover ,.bnt_vote:hover{
	color:#666;
}





.vote_block1{
	margin:30px 0px 0px 0px;
	background:url(../img/vote/gu-1.png) no-repeat;
	width:306px; height:482px;
}
.vote_block2{
	margin:30px 0px 0px 0px;
	background:url(../img/vote/gu-2.png) no-repeat;
	width:306px; height:482px;
}
.vote_block3{
	margin:30px 0px 0px 0px;
	background:url(../img/vote/gu-3.png) no-repeat;
	width:306px; height:482px;
}
.vote_block4{
	margin:30px 0px 0px 0px;
	background:url(../img/vote/gu-4.png) no-repeat;
	width:306px; height:482px;
}
.vote_block5{
	margin:30px 0px 0px 0px;
	background:url(../img/vote/gu-5.png) no-repeat;
	width:306px; height:482px;
}
/* VOTE */

.popup_bnt{
	position:absolute;
	margin-top:170px;
	margin-left:150px;
}
.popup_close{
	position:absolute;
	bottom:30px;
	right:30px;
}


.popup_vote_box{
	position:absolute;
	margin:0 auto;
	background:url(../img/popup/popup-2.png) bottom left no-repeat;
	width:620px; height:600px;
	border:0px #333 solid;
	overflow:auto;
	text-align:left;
	margin-top:4%;
	top:0; bottom:0;
	left:0; right:0;
}
.popup_vote_box2{
	position:absolute;
	margin:0 auto;
	background:url(../img/popup/popup-3.png) bottom left no-repeat;
	width:620px; height:600px;
	border:0px #333 solid;
	overflow:auto;
	text-align:left;
	margin-top:4%;
	top:0; bottom:0;
	left:0; right:0;
}
.popup_vote_box3{
	position:absolute;
	margin:0 auto;
	background:url(../img/popup/popup-1.png) bottom left no-repeat;
	width:620px; height:600px;
	border:0px #333 solid;
	overflow:auto;
	text-align:left;
	margin-top:4%;
	top:0; bottom:0;
	left:0; right:0;
}
.popup_vote_box4{
	position:absolute;
	margin:0 auto;
	background:url(../img/popup/popup-4.png) bottom left no-repeat;
	width:620px; height:600px;
	border:0px #333 solid;
	overflow:auto;
	text-align:left;
	margin-top:4%;
	top:0; bottom:0;
	left:0; right:0;
}
.popup_vote_box5{
	position:absolute;
	margin:0 auto;
	background:url(../img/popup/popup-5.png) bottom left no-repeat;
	width:620px; height:600px;
	border:0px #333 solid;
	overflow:auto;
	text-align:left;
	margin-top:4%;
	top:0; bottom:0;
	left:0; right:0;
}


.vdo_block{
	position:absolute;
	width:100%;
	margin:10px 0px 0px 33px;
}
.vdo_block .img{
	width:553px; height:310px;
	border:0px #666666 solid;
}
.vdo_block .no{
	font-family:"optimusprincepsregular";
	font-size:18px; line-height:18px;
	color:#333;
	
	padding-left:90px; padding-top:15px;
}
.vdo_block .no span{
	padding-left:2px;
	font-size:22px; line-height:22px;
}
.vdo_block .name{
	font-family:"optimusprincepsregular";
	font-size:20px; line-height:20px;
	color:#333;
	
	padding-left:90px; padding-top:5px;
}
.vdo_block .content{
	font-family:"db_helvethaica";
	font-size:22px; line-height:24px;
	color:#FFF;
	width:85%;
	padding-left:20px; padding-top:30px;
}

.vdo_block .vote_box_score{
	border:0px #999 solid;
	width:225px; height:40px;
	margin-top:27px;
	margin-left:23px;
	padding-top:3px;
}

.vdo_block .txt_score{
	width:70px; height:40px;
	border:0px #999 solid;
	margin-left:50px;
	text-align:center;
	
	font-family:"db_helvethaica";
	font-size:36px; line-height:36px;
	color:#FFF;
}
.vdo_block .bnt_vote{
	width:90px; height:40px;
	border:0px #999 solid;
	margin-left:12px;
	cursor:pointer;
	
	font-family:"db_helvethaica";
	font-size:36px; line-height:36px;
	text-align:center;
}
.vdo_block .bnt_close{
	position:absolute;
	bottom:-40px; right:70px;
}


.social_box{
	position:absolute;
	margin:-32px 0px 0px 420px;
	border:0px #666666 solid;
	width:150px;
}
.bnt_facebook{
	background:url(../img/vote/img_social.png) no-repeat;
	width:35px; height:35px;
	background-position:0px 0px;
	text-indent:-9999px;
}
