@charset "UTF-8";
/* CSS Document */

html{
	font-family:Tahoma , arial, sans-serif;
	font-size:12px; font-weight:normal;
}

body{
	background-color:#CCC;
}

#area_menu{
	
}
#area_panel{
	display:inline-block; vertical-align:top;
	width:100%;
}

#container-form{
	margin-top:30px;
	max-width:300px;
	color:#FFF;
}

/* Loading Page */
div#loadPage{  
    position:fixed;  
    margin:auto;  
    left:0;  
    top:0;  
    width:100%;  
    height:100%;  
    color:#000;  
    background-color:#FFF;    
    z-index:100000;  
    text-align:center;  
	opacity:0.8;
	padding-top:200px;
	vertical-align:middle;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	display:none;

}

#message{
	margin:auto;
	text-align:center; padding:10px;
	max-width:500px;	
}

.p_left{
	float:left;	
}
.p_right{
	float:right;
}
.p_clear{
	clear:both;
}

.input_top{
	margin-top:10px;
}
#button_upload ,#button_upload2 , #button_gallery , #button_upload_file ,#button_upload_file2 , #area_name{
	margin-top:0px;
	width:155px; overflow:hidden;
}

.txt_time{
	font-size:10px;
	color:#999;
}

.sorted_table tr {
  cursor: pointer; 
  cursor: move !important;
  }
/* line 93, application.css.sass */
.sorted_table tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none; 
}
/* line 100, application.css.sass */
.sorted_table tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none; 
}

.dragged {
  cursor: move !important;
  position: absolute;
  opacity: 0.9;
  z-index: 2000;
  
}

ul.sorting{
	list-style:none; margin:0; display:inline-block; padding-left:0px;
}
ul.sorting li{
	display:inline-block; padding:5px;
	cursor: move !important;
}
ul.sorting li.placeholder {
  position: relative;
  /** More li styles **/
}
ul.sorting li.placeholder:before {
  
   content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none; 
  /** Define arrowhead **/
}

.myStorng{
	font-weight:600;
}

.txt_permission_write{
	color:#999;	
}

.content_cms{
	max-width:300px;
	height:78px; overflow:hidden;
	border:0px #666 solid;
}
.content_cms span{
	color:#F60 !important;	
}

.block_gallery{
	width:100%; height:100%;
	border:0px #666 solid;
}

.gallery{
	display:inline-block; position:relative; vertical-align:top;
	width:155px;
}
.txt_file{
	display:inline-block;
	color:#060; vertical-align:top; 
}

.album_id{
	width:155px; height:210px; 
	overflow:hidden; 
	float:left;
	margin-right:10px;
}
.album_id img{
	width:155px; height:155px; overflow:hidden;
	margin-bottom:10px;
}

.project_status_new{
	position:absolute;
	margin-top:-10px; margin-left:-10px;
	background:url(../../img/home/ico-new.png) no-repeat;
	width:68px; height:59px;
}
.project_status_ready{
	position:absolute;
	margin-top:-10px; margin-left:-10px;
	background:url(../../img/home/ico-ready.png) no-repeat;
	width:68px; height:59px;
}
.project_status_soldout{
	position:absolute;
	margin-top:-10px; margin-left:-10px;
	background:url(../../img/home/ico-soldout.png) no-repeat;
	width:68px; height:59px;
}

.footer{
	position:fixed;
	
	bottom:0px;
	
	font-size:10px;
	color:#FFF;
	background:#262626;
	width:100%; padding:10px;
}
.footer a{
	color:#CCC;	
}
.footer a:hover{
	color:#FFF;	
}

.input_width{
	width:220px;
}

.blockDate{
	display:none;
}
.showDate{
	display:block;
}

.tb_header{
	font-weight:700;
}

@media screen and (max-width: 50em) {
	
	.box_admin{
		width:100%; 
		margin:auto; 
		margin-top:1%;
	}
	
	.member_block{
		width:100%; 
		margin:0 auto; 
		margin-top:20px;	
	}
	.member_time ,.member_time_inner{
		width:100%; 
	}
	
	.top-menu{
		padding-top:0px;
	}
	
	.input_width{
		width:100%;
	}
	
	
}